<?xml version="1.1"?>
<config>
  <modules>
    <ExtensionsMall_EmallFacebook>
      <version>1.1.0</version>
    </ExtensionsMall_EmallFacebook>
  </modules>
 
  <global>
    <models>
      <emallfacebook>
        <class>ExtensionsMall_EmallFacebook_Model</class>
      </emallfacebook>
    </models>
 
    <blocks>
      <emallfacebook>
        <class>ExtensionsMall_EmallFacebook_Block</class>
      </emallfacebook>
    </blocks>
 
    <helpers>
      <emallfacebook>
        <class>ExtensionsMall_EmallFacebook_Helper</class>
      </emallfacebook>
    </helpers>
  </global>
 
  <frontend>
    <layout>
      <updates>
        <emallfacebook>
          <file>emallfacebook.xml</file>
        </emallfacebook>
      </updates>
    </layout>
  </frontend>
  
  <!--	START DEFAULTS	-->
	<default>
		<ExtensionsMall_EmallFacebook>
				<facebook>
					<enabled>1</enabled>
					<facebook_feed>https://www.facebook.com/extensionsmall</facebook_feed>
                    <facebook_box_side>1</facebook_box_side>
					<facebook_box_top_position>50</facebook_box_top_position>
					<facebook_box_width>250</facebook_box_width>
					<facebook_box_height>250</facebook_box_height>
					<facebook_box_background>#618499</facebook_box_background>
					<facebook_theme>dark</facebook_theme>
                    <facebook_showfaces>1</facebook_showfaces>
                    <facebook_datastream>1</facebook_datastream>
                    <facebook_showborder>1</facebook_showborder>
                    <facebook_dataheader>0</facebook_dataheader>
                    <facebook_forcewall>1</facebook_forcewall>
				</facebook>
		</ExtensionsMall_EmallFacebook>
	</default>
<!--	END DEFAULTS	-->

</config>