<?xml version="1.0"?>
<config>
    <tabs>
        <extensionsmall_extensions_config translate="label" module="catalog">
            <label>Extensionsmall Extensions Config</label>
            <sort_order>300</sort_order>
        </extensionsmall_extensions_config>
    </tabs>
	<sections>
		<extensionsmall_emallfacebook translate="label" module="emallfacebook">
			<label>Emall Facebook</label>
				<tab>extensionsmall_extensions_config</tab>
				<frontend_type>text</frontend_type>
				<sort_order>10</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<groups>
					<facebook translate="label">
					<label>Facebook Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>200</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled>
							<label>Enable Facebook</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>150</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Enable Emall Facebook plugin</comment>
						</enabled>
						
						<facebook_feed>
							<label>Facebook Page link</label>
							<frontend_type>text</frontend_type>
							<sort_order>155</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Inset link of Facebook page (in format https://www.facebook.com/XXXXXX)</comment>
						</facebook_feed>
												
						<facebook_box_top_position>
							<label>Facebook Container Top Position</label>
							<frontend_type>text</frontend_type>
							<sort_order>163</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Facebook Container offset from top of screen</comment>
						</facebook_box_top_position>
						
						<facebook_box_side>
							<label>Facebook Container Side</label>
							<frontend_type>select</frontend_type>
							<source_model>emallfacebook/system_config_source_load_options</source_model>
							<sort_order>163</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Select side to display facebook container</comment>
						</facebook_box_side>
						
						<facebook_box_width>
							<label>Facebook Container Width</label>
							<frontend_type>text</frontend_type>
							<sort_order>164</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</facebook_box_width>
						
						<facebook_box_height>
							<label>Facebook Container Height</label>
							<frontend_type>text</frontend_type>
							<sort_order>165</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</facebook_box_height>
						
						<facebook_box_background>
							<label>Facebook Container Background Color</label>
							<frontend_type>text</frontend_type>
                            <frontend_model>emallfacebook/adminhtml_system_config_form_field_color</frontend_model>
							<sort_order>166</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</facebook_box_background>
						
                        <facebook_theme>
							<label>Facebook Theme</label>
							<frontend_type>select</frontend_type>
							<source_model>emallfacebook/system_config_source_load_theme</source_model>
							<sort_order>169</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Select facebook theme</comment>
						</facebook_theme>
                        <facebook_showfaces>
							<label>Show Faces</label>
							<frontend_type>select</frontend_type>
							<source_model>emallfacebook/system_config_source_load_faces</source_model>
							<sort_order>170</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Enable/Disable Faces</comment>
						</facebook_showfaces>
                        
                        <facebook_datastream>
							<label>Show Data Stream</label>
							<frontend_type>select</frontend_type>
							<source_model>emallfacebook/system_config_source_load_datastream</source_model>
							<sort_order>171</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Enable/Disable Data Stream</comment>
						</facebook_datastream>
                        
                        <facebook_showborder>
							<label>Show Borders</label>
							<frontend_type>select</frontend_type>
							<source_model>emallfacebook/system_config_source_load_borders</source_model>
							<sort_order>172</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Enable/Disable Borders</comment>
						</facebook_showborder>
                        
                        <facebook_dataheader>
							<label>Show Header</label>
							<frontend_type>select</frontend_type>
							<source_model>emallfacebook/system_config_source_load_dataheader</source_model>
							<sort_order>173</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Enable/Disable Header</comment>
						</facebook_dataheader>
                        
                        <facebook_forcewall>
							<label>Force Wall</label>
							<frontend_type>select</frontend_type>
							<source_model>emallfacebook/system_config_source_load_forcewall</source_model>
							<sort_order>174</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Enable/Disable Force Wall</comment>
						</facebook_forcewall>
					</fields>
				</facebook> 				
			</groups>
		</extensionsmall_emallfacebook>
	</sections>
</config>